body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}
h4 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.lightgreen {
  color: lightgreen;
}

.lightblue {
  color: lightblue;
}

.lightsalmon {
  color: lightsalmon;
}

.goldenrod {
  color: goldenrod;
}

label {
  font-family: verdana;
  font-size: 20px;
  color: white;
}